@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *, [dark]));

@theme{
  --color-black:#000000;
  --color-white:#FFFFFF;
  --color-blue-100: #CEC4FC;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-black:#000000;
    --color-white:#FFFFFF;
  }
}

.login-list {
  list-style-type: decimal;
  & > li::marker{
      color: var(--color-white);
      padding-right: 10px;
  }
  & > li{
    margin:0 0 .5rem .5rem;
  }
}

.login-inner-list{
  & > li::before{
    position: absolute;
    margin-right:.5rem;
    left:0;
    content:"";
    width:8px;
    height: 8px;
    background-color: var(--color-white);
    border-radius: 50%;
    top:10px

  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  overflow: clip auto;
}

body::-webkit-scrollbar{
  width:0;
  height: 0;
}


.zoom-in-out {
    animation: zoom_in_out 0.7s ease-in-out forwards;
}

.rotate{
  animation: rotate 1.5s linear infinite forwards;
}


@keyframes zoom_in_out {
    0% {
    transform: scale(0%);
    }
    50% {
        transform: scale(120%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
